<hr>
<div class='single-posted-comment-container'>

  <div class='single-posted-comment'>
    <div>
      <%= gravatar_helper comment.user %>
    </div>
    <div class='single-comment'>
      <%= comment.content %>
    </div>
  </div>

  <div>
    <em>
      Comment posted by <%= comment.user.first_name %> <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago
    </em>
  </div>
</div>
