<div>
  <div>
    <div class='portfolio-index-details'><h2 class='portfolio-index-title'><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item), class: 'portfolio-index-title' %></h2>
    <%= portfolio_item.subtitle %>
    </div>
    <%= link_to image_tag(portfolio_img(portfolio_item.main_image, 'thumb'), width: '100%'), portfolio_show_path(portfolio_item) %>
  </div>
</div>

