<div class='portfolio-layout'>
  <div class='portfolio-content'>
        <%= source_helper('alert alert-warning') %>
    <div>
    <div class='portfolio-pagination'>
      <%= paginate @portfolio_items %>
    </div>
        <%= render partial: 'portfolio_item', collection: @portfolio_items %>  
    </div>
  </div>
</div> 

