

<div class="footer">
  <div id="button">Contact Me</div>
    <div id="container">
      <div id="cont">
      <div class="footer_center">
         <h3>You can call or text <span class='contact'><%= number_to_phone '3853120520' %></span> or send an email to <span class='contact'>jhallnation@gmail.com</span></h3>
         <h5><%= copyright_generator %></h5>
      </div>
    </div>
  </div>
</div>