 <div class='blog-sidebar'>        
  <%= source_helper('alert alert-info blog-sidebar-source') %>

  <div>
  <h1 class='blog-title'>Topics</h1>
  <% @side_bar_topics.each do |topic| %>
    <p><%= link_to topic.title, topic_path(topic), :class => 'links' %></p> 
  <% end %>
  </div>
</div>