<div>
  <div class='blog-masthead-container'>
    <h1>My Blog</h1>
    <br>
    <div>As I have studied development I have learned that there is a lot to know.  Everytime I learn something new, I realize there is much more I don't know.</div>
    <br>
    <div>
      Because I am learning, I may edit these blog posts multiple times.
    </div>
    <br>
    <div>
      I also may be incorrect on my understandings.  So please feel free to create an account and use the comment section to point out where I am wrong.  Also feel free to correct me on an grammatic errors.
    </div>
    <br>
    <div>
      Here are some things I have learned along the way!
    </div>
    <div class='admin-links'>
      <%= link_to 'Create a New Blog', new_blog_path if logged_in?(:site_admin) %>
    </div>
  </div>
</div>