
  <div class='portfolio-masthead'>
    <h1>My Portfolio</h1>
    <p>Check out my projects.  If you have any feedback or job opportunities, please feel free to contact me <i class="fa fa-arrow-down" aria-hidden="true"></i> </p>
  </div>
