<div class='about-container'>
  <div class='about-profile about-content'>
    <%= image_tag 'pro_pic.jpg', width: 300, alt: 'profile image' %>

    <p>I am 29 years old and recently left a career in finance.  I really enjoy watching and playing most sports, but primarily football and basketball.  I also enjoy camping, hiking, and taking my truck off road.  I chose development to use my creative skills.  I enjoy seeing the things I've created make people smile and increase the quality of their lives.</p>
    <p>
  </div>

  <div class='about-resume about-content'>
      <div>
        <div>
          <p>Fidelity Investments</p>
          <p>Financial Representative | May 2014 - Feb 2017</p>
          <p>Reached out to clients with inactive 401k accounts to discuss investment options and needs.</p>
          <p>Assisted clients with distribution transactions, stock and mutual fund trades for retirement and brokerage accounts.</p>
        </div>
        <div>
          <p>Utah Community Credit Union</p>
          <p>Loan Officer & Online Support Representative  |  Jul 2009 - Mar 2014</p>
          <p>Processed and disbursed consumer loan applications.</p>
          <p>Helped members with using banking website, mobile app, bill pay service, and other tech related products.</p>
          <p>Troubleshooted errors and other technical issues related to banking site and mobile app.</p>
        </div>
      </div>          
      <div>
        <div>
          <p>Utah Valley University</p>
          <p>Business Management</p>
        </div>
        <div>
          <p>Bottega Tech</p>
          <p>Full Stack Web Development</p>
        </div>
      </div>
  </div>
</div>