<h1>This is Me</h1>

<hr>

<div class='row'>
  <div class='col-md-4'>
    <%= image_tag 'pro_pic.jpg', width: 300, alt: 'profile image', %>
  </div>

  <div class ='col-md-8'>
    <p>It all started on a cold January day.  I came into this world crying and naked like everyone else</p>
    <p>...</p>
    <p>...</p>
    <p>...</p>
    <p>And thats how I became what I am today:)</p>
  </div>
</div>