<div class="container-about">
  <section class="background-about">
    <div class="content-wrapper">
      <p class="content-title">About Me</p>
      <p class="content-subtitle">I recently left a career in finance to pursue one in web development.  I learned a lot in finance and did well in different sales and service roles.   I made the change so I could use my skills in creativity and as well as develop new skills.  I enjoy seeing the things I’ve created make people smile and increase the quality of their lives.!</p>
    </div>
  </section>
  <section class="background-about">
    <div class="content-wrapper">
      <p class="content-title">Cras lacinia non eros nec semper.</p>
      <p class="content-subtitle">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras ut massa mattis nibh semper pretium.</p>
    </div>
  </section>
  <section class="background-about">
    <div class="content-wrapper">
      <p class="content-title">Like what you see?</p>
      <p class="content-subtitle"><a href='https://drive.google.com/open?id=0B3HIASCEAhl7Qkw4WUVmMjA5VUk' id='resume' target="_blank">Download my resume</a></p>
    </div>
  </section>
</div>
