<div class="parallax-one"></div>

<div class='parallax-paragraph-one'>
About Me
</div>

<div class="parallax-two"></div>

<div class='parallax-paragraphs'>
I recently left a career in finance to pursue one in web development.  I enjoyed finance and found a lot of success.  But realized all I was doing was selling products and not using any creative skills with my financial knowledge.  I made the change so I could be more creative in my work.  I believe being able to be creative in you job provides the most job satisfaction!
<br>
<p class="content-resume"><a href='https://drive.google.com/open?id=0B3HIASCEAhl7Y1dMSlZ5b3daQWs' id='resume' target="_blank">Download my resume</a></p>
</div>

<div class="parallax-three"></div>

<div class='parallax-paragraphs'>
Apart from being creative, I also find joy in being active.  I like to hike, camp, and take my tacoma off-roading.  I especially enjoy playing sports and working out.  Basketball is by far my favorite thing in the world.
<br>
<%= link_to 'Need your own website?', jhall_dev_path, class: 'contact' %>
</div>