<div class='about-container'>
  <div class='about-profile about-content'>
    <%= image_tag 'Jason2.jpg', width: 375, alt: 'profile image' %>
  </div>
  <div class='about-resume about-content'>
      <iframe src='https://onedrive.live.com/embed?cid=C3E08AE0ABEFD49C&resid=C3E08AE0ABEFD49C%21807&authkey=AAbpLpyGyKFoLf4&em=2&wdStartOn=1' width='375px' height='500px' frameborder='0'></iframe>
  </div>
</div>