<div>
  <div>
    <h1>This is Real Me</h1>

    <hr>

    <div class='about'>
      <div class='about-profile'>
        <%= image_tag 'pro_pic.jpg', width: 300, alt: 'profile image', class: 'profile-img' %>

        <p>I am 29 years old and recently left a career in finance.  I really enjoy watching and playing most sports, but primarily football and basketball.  I also enjoy camping, hiking, and taking my truck off road.  I chose development to use my creative skills.  I enjoy seeing the things I've created make people smile and increase the quality of their lives.</p>
        <p>
      </div>

      <div class='about'>
          <button 
            
            type='button'
            data-toggle='collapse'
            data-target='#jobs'
            aria-expanded='false'
            aria-controler='jobs'
            >
              Job History
          </button>
          <button 
            
            type='button'
            data-toggle='collapse'
            data-target='#school'
            aria-expanded='false'
            aria-controler='school'
            >
              Education
          </button>
        </p>
        <p>
          <div>
            <div>
              <p>Fidelity Investments</p>
              <p>Financial Representative | May 2014 - Feb 2017</p>
              <p>Reached out to clients with inactive 401k accounts to discuss investment options and needs.</p>
              <p>Assisted clients with distribution transactions, stock and mutual fund trades for retirement and brokerage accounts.</p>
            </div>
            <div>
              <p>Utah Community Credit Union</p>
              <p>Loan Officer & Online Support Representative  |  Jul 2009 - Mar 2014</p>
              <p>Processed and disbursed consumer loan applications.</p>
              <p>Helped members with using banking website, mobile app, bill pay service, and other tech related products.</p>
              <p>Troubleshooted errors and other technical issues related to banking site and mobile app.</p>
            </div>
          </div>          
          <div>
            <div>
              <p>Utah Valley University</p>
              <p>Business Management</p>
            </div>
            <div>
              <p>Bottega Tech</p>
              <p>Full Stack Web Development</p>
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>