<div class='app-card-container'>
  <div class='card'>
    <h1>Call me, Maybe?</h1>

    <hr>

    <div class='row'>
      <div class='col-md-6'> 
        <p>You can call me at <%= number_to_phone '5555555555' %></p>
        <p>Or you can email me @ hall.jasondaniel@gmail.com</p>
        <p>I guess you can also write me snail mail to: 1764 N Willowbrook Dr, Provo, UT</p>
      </div>
      <div class='col-md-6'>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3044.8188476441087!2d-111.67700368527862!3d40.25755707322989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d9a7179cd87c5%3A0xc53e94018eae10d3!2s1764+Willowbrook+Dr%2C+Provo%2C+UT+84604!5e0!3m2!1sen!2sus!4v1489167769545" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> 
      </div>
    </div>
  </div>
</div>