<div class='app-card-container'>
  <div class='card contact-text'>
    <h1>Call me, Maybe?</h1>

    <hr>

    <div class='row'>
      <div class='col-md-12'> 
        <p>You can call me at <%= number_to_phone '3853120520' %></p>
        <p>Or you can email me at jhallnation@gmail.com</p>
        <p>Comming soon: Twitter & Instagram<p>
      </div>
    </div>
  </div>
</div>