

<div class="inner cover">
  <h1 class="cover-heading">Welcome! My name is Jason Hall</h1>
  <p class="lead">I created this site to display my work and share knowledge that I have learned on my path to becoming a web developer.  If you have any feedback or job opportunities, please feel free to visit my <%= link_to 'contacts page', contact_path, class: 'contact' %>!</p>
  <p class="lead">
    <%= link_to 'About Me', about_path, class: 'btn btn-lg btn-info' %>
  </p>
</div>



     
