

<div class='content'>
  <h1>Welcome! My name is Jason Hall</h1>
  <p>I created this site to display my work and share knowledge that I have learned on my path to becoming a web developer.</p>
  <p> If you have any feedback or job opportunities, please feel free to contact me <i class="fa fa-arrow-down" aria-hidden="true"></i></p>
</div>



     
