<div class='jhall-dev-container'>
  <div class='jhall-dev-nav'>
    <div class='jhalldevlink' id='design_link'>Design</div>
    <div class='jhalldevlink' id='responsiveness_link'>Responsiveness</div>
    <div class='jhalldevlink' id='maintenance_link'>Maintenance</div>
    <div class='jhalldevlink' id='quote_link'>Request a quote</div>
  </div>
</div>
<div class='jhall-dev-container jhalldev-body'>
    <div id='design'>
      <h1>Design</h1>
      <div class='jd-design-content'>
        <h3>Make your website a representation of your company's values and culture!<h3>
        <div class="jd_line"></div>
        <h4>With my ability to use many different modern technologies, I can create what you are looking for!</h4>
        <br>
        <h5>Click the images below to check out what I've done for others!</h5>
      </div>
      <div class='jd-design-body-images'>
        <%= link_to image_tag('irishtacos.png', class: 'jd-design-irishtacos'), 'http://www.irishtacos.com/', target: :_blank %>
        <%= link_to image_tag('salution.png', class: 'jd-design-salution'), 'http://www.salution.com/', target: :_blank %>
      </div>
    </div>
    <div id='responsiveness'>
      <h1>Responsiveness</h1>
      <p>Fully Responsive</p>
    </div>
    <div id='maintenance'>
      <h1>Maintenance</h1>
      <p>Don't worry about a thing</p>
    </div>
    <div id='quote'>
      <h1>Request a quote</h1>
      <p>Tell us about what you want</p>
    </div>
</div>