<div class='jhall-dev-container'>
  <div class='jhall-dev-nav'>
    <div class='jhalldevlink' id='design_link'>Design</div>
    <div class='jhalldevlink' id='responsiveness_link'>Responsiveness</div>
    <div class='jhalldevlink' id='maintenance_link'>Maintenance</div>
    <div class='jhalldevlink' id='quote_link'>Request a quote</div>
  </div>
</div>
<div class='jhall-dev-container jhalldev-body'>
    <div id='design'>
      <h1>Design</h1>
      <div class='jd-design-content'>
        <div class="jd_line"></div>
        <h3>Make your website a representation of your company's values and culture!<h3>
        
        <h4>With my ability to use many different modern technologies, I can create what you are looking for!</h4>
        <br>
        <h5>Check out what I've done for others!</h5>
      </div>
      <div class='jd-design-body-images'>
        <a href='http://www.irishtacos.com/' target='_blank'>
          <div class='jd-design-image-container'> 
            <img src='assets/o_crowley.jpg' >
          </div>
        </a>
        <a href='http://www.salution.com/' target='_blank'> 
          <div class='jd-design-image-container'>
            <img src='assets/salution.jpg' >
          </div>
        </a>
      </div>
      <div class="jd_line"></div>
    </div>
    <div id='responsiveness'>
      <h1>Responsiveness</h1>
      <div class='jd-responsive'>
        <div class="jd_line"></div>
        <p>In order to reach out to ever potential user with the variety of devices in today's world, you need to make sure your site or app is Fully Responsive!</p>
        <br>
        <img src='assets/responsive.png' >
        <div class="jd_line"></div>
      </div>
    </div>
    <div id='maintenance'>
      <h1>Maintenance</h1>
      <div class='jd-maintenance'>
        <div class="jd_line"></div>
        <p>What does have your site monitored by me do for you?</p>
        <br>
          <div class='jd-maintenance-check'>
            <i class="fa fa-check-circle"></i><p>Keep site or app up and running!</p>
          </div>
          <div class='jd-maintenance-check'>
            <i class="fa fa-check-circle"></i><p>Protect your users information</p>
          </div>
          <div class='jd-maintenance-check'>
            <i class="fa fa-check-circle"></i><p>Back up your data</p>
          </div>
          <div class='jd-maintenance-check'>
            <i class="fa fa-check-circle"></i><p>Update content</p>
          </div>
        <div class="jd_line"></div>
      </div>
    </div>
    <div id='quote'>
      <h1>Request a quote</h1>
      <div class='jd-quote'>
        <div class="jd_line"></div>
        <p>Need a website for your business or have an idea for an app?</p>
        <p>Email me at <a href='mailto:jhallnation@gmail.com' target='_self'>jhallnation@gmail.com</a> and let me know what you are looking for!</p>
        <br>
        <h6>The more details the more accurate I can be at an estimated cost and time frame!</h6>
        <h6>If you would like to sign a non-disclosure agreement, no problem, just let me know!</h6>
        <div class="jd_line"></div>
       </div>
    </div>
</div>