<div class='tech-news-title'>
  <h1>Rails News</h1>
  <p>Tweets about rails</p>
</div>
<div class='tech-news-layout'>
  <div class='tech-news-content'>
      <div class='tweet-container'>
        <% @tweets.each do |tweet| %>
          <div class='tweets'>
            <%= twitter_parcer tweet %>
          </div>
        <% end %>
      </div>
  </div>
</div>