<div>
  <h1>Rails News</h1>
    <div>
      <% @tweets.each do |tweet| %>
        <div>
          <div>
            <div>
              <%= twitter_parcer tweet %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>