<h1 class='tech-news-title'>Rails News</h1>
<div class='tech-news-layout'>
  <div class='tech-news-content'>
      <div class='tweet-container'>
        <% @tweets.each do |tweet| %>
          <div class='tweets'>
            <%= twitter_parcer tweet %>
          </div>
        <% end %>
      </div>
  </div>
</div>