@import "font-awesome";
@import "gritter";


/*
 * body
 */

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('background.jpg') no-repeat;
  background-size: cover;
}

/*
 * nav
 */

@import url(http://fonts.googleapis.com/css?family=Oswald);

* {
  margin: auto;
}

#all {
  background-color: #4A4A4A;
  border-bottom: solid #2EB2FF;
  border-width: 7.5px;
  height: 75px;
  word-spacing: 50px;
  text-align: center;
  z-index: 1000;
  position: relative;
}


.nav {
  font-family: Oswald;
  font-size: 35px;
  text-align: center;
  text-decoration: none;
  color: #2EB2FF;
  transition: ease-out 0.2s;
  margin: 10px;
}
  

.nav-style {
  display: inline-block;
  text-decoration: none;
  transition: ease-out 0.5s;

}
 
.nav:hover {
  background-color: #2EB2FF;
  color: #4A4A4A;
  padding-top: 500px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
  transition: ease-out 0.5s;
}
@media only screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}

@media only screen and (min-width: 925px) 
  {
  .mobile-icon{
    display: none;
  }
}

.mobile-icon {
  color: #2EB2FF;
  font-size: 3em;

}

.mobile-nav {
  color: #2EB2FF;
  display: block;
  text-decoration: none;
  background-color: #4A4A4A;
  border-bottom: solid #2EB2FF;
  border-width: 7.5px;
  position: relative;
}



/*
 * footer
 */

.footer #button{
  font-family: Oswald;
  color: #2EB2FF;
  text-align: center;
  width: 100px;
  height:35px;
  border: #2EB2FF 7.5px solid;
  border-radius:3px;
  margin:0 auto;
  position:relative;
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{

  border: #3A3A3A 12px solid;
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  position:relative;
}
.footer {
  bottom:0;
  left:0;
  position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  z-index:999;
}
.footer:hover {
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  height: 10em;
}
.footer #container{
  margin-top:5px;
  width:100%;
  height:100%;
  position:relative;
  top:0;
  left:0;
  background: #4A4A4A;
}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
  width:150px;
  height:auto;
  margin:0 auto;
}
.footer_center{
  width:500px;
  float:left;
  text-align:center;
}
.footer h3{
  font-family: Oswald;
  font-size: 15px;
  font-weight: 100;
  margin-top:70px;
  margin-left:40px;
  margin-bottom: 10px;
  color: #2EB2FF;
}
.contact {
  color: white;
}
.footer h5 {
  color: grey;
}

/*
 * content
 */


#content-home {
  text-align: center;
  padding-top: 100px;
  color: #2EB2FF;
  font-family: Oswald;
}



@import url(http://fonts.googleapis.com/css?family=Montserrat);

// ------------- MIXINS ------------- //
@mixin transition($time, $property: all, $easing: ease-in) {
    transition: $property $time $easing;
}

// ------------- VARIABLES ------------- //
$parallax-offset: 30vh;
$content-offset: 40vh;
$transition-speed: 1.2s;
$slide-number: 3;

.container-about {
  z-index:-1;
  position:relative;
}

.background-about {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  height: 100vh + $parallax-offset;
  position: fixed;
  width: 100%;
  transform: translateY($parallax-offset);
  @include transition($transition-speed, all, cubic-bezier(0.22, 0.44, 0, 1));
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.3);
  }
  &:first-child {
    background-image: url('Jason2.jpg');
    transform: translateY(-$parallax-offset / 2);
    .content-wrapper {
      transform: translateY($parallax-offset /2);
    }
  }
  &:nth-child(2) {
    background-image: url('trucks.jpg');
  }
  &:nth-child(3) {
    background-image: url(http://s8.postimg.org/grwsbtiat/x_ZMOBTj.jpg);
  }
}

/* Set stacking context of slides */
@for $i from 1 to ($slide-number + 1) {
    .background-about:nth-child(#{$i}) {
        z-index: ($slide-number + 1) - $i; 
    }
}

.content {
  &-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column nowrap;
  color: #fff;
  font-family: Montserrat;
  text-transform: uppercase;
  transform: translateY($content-offset);
  will-change: transform;
  backface-visibility: hidden;
  @include transition($transition-speed + .5, all, cubic-bezier(0.22, 0.44, 0, 1));
  }
  &-title {
    font-size: 12vh;
    line-height: 1.4;
  }
  &-subtitle {
    margin-bottom: 175px;
  }
}

// ------------- SET TRANSFORM VALUES ------------- //

.background-about.up-scroll {
  transform: translate3d(0,-$parallax-offset / 2,0);
  .content-wrapper {
    transform: translateY($parallax-offset / 2);
  }
  + .background-about {
    transform: translate3d(0,$parallax-offset,0);
      .content-wrapper {
        transform: translateY($parallax-offset);
      }
    }
}

.background-about.down-scroll {
  transform: translate3d(0,-(100vh + $parallax-offset),0);
  .content-wrapper {
    transform: translateY($content-offset);
  }
  + .background-about:not(.down-scroll) {
    transform: translate3d(0,-$parallax-offset / 2,0);
      .content-wrapper {
        transform: translateY($parallax-offset / 2);
      }
  }
}
#resume {
  font-size: 35px;
  text-decoration: none;
  background-color: #2EB2FF;
  padding: 5px;
  border-radius: 5px;
  color: #4A4A4A;
}